.item1{

    grid-area: header;
    background-color: #034f84;
    text-align: center;
    color: white;
}
.item2{

    background-color:rgb(199, 223, 249);
    grid-area: main;
}
.item3{

    background-color: #409acb;
    grid-area: menu;
    padding-left: 2em;
}
.item4{
    background-color: f7cac9;

    grid-area: footer;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 0.34fr;
    grid-template-rows: 10em 1fr 0.2fr;
    grid-template-areas:
    "header header header"
    "main main menu"
    "footer footer footer"
    ;


}

.grid-container > div{

    padding: 20px 0;
    font-size: 30px;
}


